@import "tailwindcss";

.custom-calendar-container .react-calendar {
  width: 100% !important; 
  border: none !important;
  background: transparent;
}

.custom-calendar-container {
  margin-bottom: 1.5rem;
}


.recharts-wrapper, 
.recharts-surface {
  outline: none !important;
  border: none !important;
}

svg:focus,
svg:focus-visible,
.recharts-wrapper svg:focus,
.recharts-wrapper svg:focus-visible {
  outline: none !important;
}

.recharts-surface {
  outline: none !important;
}

.recharts-sector {
  outline: none !important;
  stroke: none !important;
}

path.recharts-sector {
  outline: none !important;
}